body{
background-color: rgb(45, 124, 124);
margin: 0;
padding: 0;
font-family: 'Prompt', sans-serif;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
height: 100vh;
}

header{
    background-color: #A3CF58;
    grid-area: 1 / 1/ span 1 / span 5;
    height: 50%;
}

header > h1{
    letter-spacing: 5px;    
}

main{
    grid-area: 2 /1 /span 4 / span 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    gap: 50px;    
}

main > div{
    background-color: #A3CF58;
    height: min-content;
    border-radius: 5px;   
}

main > div > button{
    background-color: rgb(45, 124, 124);
    border:none;
    margin: 5px;
}

footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    display:inline-flex;
}

#addbutton{
background-color: rgb(45, 124, 124);
border: none;
opacity: .7;
margin-left: 85%;
/* width: 90%; */
}
#addbutton > img{
    width: 40%;
opacity:1;}

#popup{
    display: none;
    grid-area: 2 / 2 / span 2 / span 1;
    background-color: rgb(55, 134, 134);
    background-image: url(images/background.png);
    background-size:cover;
    border-radius: 15px;
    height:150%;
    width: 175%;
    font-size: 1.5em;
    justify-content:left;
}

#bookDiv {
    height: 70%;
}

.link{
    justify-self: flex-start;
    margin-left: 20%;
    margin-top: 50%;
}
@keyframes logoGrow{
    from {height: 65px;}
    to {height: 80px;}
}
.link:hover{
    animation-name: logoGrow;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
